/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2014, 1:52:03 PM
    Author     : SHeye
*/

h1, h2{
    color : #48A7C2;
    font-family : "Trebuchet MS",sans-serif;
}

p, ul, ol , dl{
    color : white;
    font-family : "Trebuchet MS",sans-serif;
    font-weight : 500;
}

p,ul, ol {
    font-size : 18px;
   
}

p:first-letter{
    font-size: 32px;
}

body {
    background-color : rgb(89, 85, 71);
}

a {
    color : red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;   
}
strong {
    color : yellow;
}

dl {
	margin-left : 61px;
}
dt {
    color : yellow;
}

dd {
    font-size : 15px;
}

ol.reverse {
    list-style: none;
    counter-reset : cntr 4;
}

ol.reverse > li:before {
    content : counter(cntr) '. ';    
}

ol.reverse li{
    counter-increment: cntr -1;
}