body{
    background-color: black;
}
.sub {
    max-width: auto;
    margin: 2rem auto;
    border: 2px solid white;
    height: 450px;
    margin-top: 300px;
    background-color: white;
    
}
div{
    margin-left: 10px;
    margin-top: 50px;
}
.in{
    padding-right: 1500px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    }
    #button{
        height: 45px;
        width: 110px;
        background-color: blue;
        }
        #para{
            opacity: 0,5;
        }